

body {
  height: 4000px;
  background-color:rgba(34, 1, 53, 1);
  color: #fff;
  
}

.title {
  font-family: Days;
  text-align: center;
 
}

.title h1:nth-child(1){
  position: relative;
  left: -500px;
  font-size: 100px;
}

.title h1:nth-child(2){
  position: relative;
   font-size: 160px;
   top: -140px;
}


.about-me {
  display: flex;
  gap: 1000px;
  flex-direction: row;
  justify-content: center;
}

.about-me h2{
  font-size: 100px;
  font-family: Days;
  width: 500px;
  color: rgb(78, 4, 121);
}

.about-me p {
  width: 750px;
  font-size: 30px;
  font-family: Days;
}

.about-me img{
  width: 650px;
  border-radius: 20px;
}

.contentsection{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 500px;
  font-family: Days;
}
.content1{
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.content2{
  display: flex;
  flex-direction: column;
  gap: 250px;
  position: relative;
  top: 200px;
}

.content1 h2{
  font-size: 55px;
  color: rgb(78, 4, 121);
}

.content1 li{
  font-size: 30px;
}

.content2 h2{
  font-size: 55px;
  color: rgb(78, 4, 121);
}

.content2 li{
  font-size: 30px;
}

.poster {
  text-align: center;
  position: relative;
  top: 400px;
}

.poster h2{
  font-size: 55px;
  font-family: Days;
  color: rgb(78, 4, 121);
}

.poster .posters {
  display: flex;
  justify-content: space-around;
 position: relative;
 top: -300px;
}

.poster .poster {
  width: 600px;
  height: 800px;
  background-color: #e0e0e0;
  margin: 10px;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgba(34, 1, 53, 1);
}

::-webkit-scrollbar-thumb {
    background: rgb(78, 4, 121);

}


@font-face {
  font-family: Days;
  src: url(/DaysOne-Regular.ttf);
}